body,
div {
    background-color: white;
    border: 0px;
    margin: 0px;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2vw;
}

#mainDiv div {
    background-color: #f0f0f0;
    border-radius: 10px;
}

p {
    font-family: "Arial, Helvetica, Monaco"
}

h2 {
    border: 0px;
    margin: 0px;
    align-items: center;
}